/* vietnamese */
@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/qwitchergrypen/v3/pxicypclp9tDilN9RrC5BSI1dZmbQGlBgGygpspO.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/qwitchergrypen/v3/pxicypclp9tDilN9RrC5BSI1dZmbQWlBgGygpspO.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/qwitchergrypen/v3/pxicypclp9tDilN9RrC5BSI1dZmbT2lBgGygpg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#head-container {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

#items-container {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  margin: 16px auto;
  width: 72%;
}

#bread-image {
  max-width: 512px;
  height: auto;
}

h1 {
  margin: auto;
  font-family: "Qwitcher Grypen";
  font-size: 128px;
}

body {
  font-family: "Source Sans Pro", "Helvetica", "Arial";
  font-size: 16px;
  margin: auto;
}

hr {
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

#menu-title {
  margin-left: 32px;
}

p {
  margin-bottom: 32px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  list-style-type: none;
}

li {
  width: 48%;
  margin: 8px;
}

button {
  width: 100%;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 4px;
}

button:hover {
  background-color: lightgray;
}

#button-title {
  font-weight: bold;
}

#button-price {
  font-style: italic;
  color: gray;
}